@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

:root {
  --rs-primary: #665b47;
  --rs-light: #574e3d;
  --rs-medium: #544b39;
  --rs-dark: #483f2c;
  --rs-border-light-active: #facc15;
  --rs-border-dark-active: #b59411;
  --rs-border-light: #9c8862;
  --rs-border-dark: #2d281e;
  --rs-text-yellow: #ffff00;
}

@layer base {
  @font-face {
    font-family: 'Runescape';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/runescape.ttf);
  }
}

.no-blurry {
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

html {
  @apply text-rs-shadow;
  background-color: var(--rs-primary);
  color: var(--rs-text-yellow);
}
.text-rs-shadow {
  text-shadow: 0.15rem 0.15rem black;
}
.text-rs-shadow-large {
  text-shadow: 0.2rem 0.2rem black;
}
.text-rs-shadow-small {
  text-shadow: 0.1rem 0.1rem black;
}

.rs-border {
  border-width: 2px;
  border-top-color: var(--rs-border-light);
  border-left-color: var(--rs-border-light);
  border-bottom-color: var(--rs-border-dark);
  border-right-color: var(--rs-border-dark);
}

.animate-scroll-text-left {
  animation: scrolling-text-left 60s linear infinite;
}
.animate-scroll-text-right {
  animation: scrolling-text-right 60s linear infinite;
}
.animate-scroll-text-vertical {
  writing-mode: vertical-lr;
  animation: scrolling-text-vertical 60s linear infinite;
}
.pause-hover:hover {
  animation-play-state: paused;
}
@keyframes scrolling-text-left {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(-400%);
  }
}
@keyframes scrolling-text-right {
  from {
    transform: translateX(-400%);
  }
  to {
    transform: translateX(50%);
  }
}
@keyframes scrolling-text-vertical {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(-450%);
  }
}
